<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balls_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>balls_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{42,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>balls_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{42,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>balls_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{42,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>balls_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{42,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>balls_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{42,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>balls_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{42,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>balls_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{42,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>balls_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{42,40}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>balls_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{42,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>balls_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{42,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>balls_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{40,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>balls_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{42,40}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>balls_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{42,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>balls_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{42,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>balls_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>balls.png</string>
            <key>size</key>
            <string>{46,700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b35b3f79cb3fec5c5cd3c3e6313733e:c13bcee0c11403d8071abd273fa95d67:3959c3c7cd8059bc66a919bdfa1ee67d$</string>
            <key>textureFileName</key>
            <string>balls.png</string>
        </dict>
    </dict>
</plist>
